<section class="flex justify-center my-4">
  <table class="w-3/4 bg-white border border-gray-300 m-1">
    <thead>
      <tr>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-left">Short Link</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-left">Original Link</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Date</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Expired</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Clicks</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Copy</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Edit</th>
        <th class="px-6 py-3 bg-gray-100 border-b border-gray-300 text-center">Delete</th>
      </tr>
    </thead>
    <tbody id="account_urls">
      <% links.each do |link| %>
        <%= render 'account/urls/link', link: %>
      <% end %>
    </tbody>
  </table>
</section>
<div class="flex align-center justify-center mt-4">
  <%== pagy_nav @pagy %>
</div>
